<!DOCTYPE html>
<html>
<head>
  <title>LipSyncFanz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/posts">View All Lip-Sync Battles</a></li>
          <li><a href="/posts/new">Post some LINX</a></li>
        </ul>

        <ul class="nav navbar-nav pull-right">
          <li class="search"><%= form_tag("/posts", method: "get") do %>
            <%= text_field_tag(:criteria, nil, :placeholder => 'Search') %>
            <%= submit_tag("Search") %>
          <% end %></li>
        </ul>
    </div>
  </header>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
